:root {
    --color-primary: #353436;
    --color-secondary: #ffffff;
    --color-accent: #e2d1a6;
    --color-text: #ffffff;
    --color-text-second: #000000;
    --color-text-mute: #b5b4b4;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text)
}

a {
    text-decoration: none;
    color: var(--color-text)
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', serif;
    margin-top: 0;
}

p {
    margin-top: 0;
}

.fullscreen {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--color-primary);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo img {
    max-width: 290px;
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    gap: 30px;
}

.header__login-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-text);
    text-transform: uppercase;
    cursor: pointer;
}

@media (hover:hover) {
    .header__login-btn:hover {
        color: var(--color-accent);
        transition: all ease 0.2s;
    }
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px
}

.header__nav {
    margin-top: auto;
}

.nav__item {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}

@media (hover:hover) {
    .nav__item:hover a {
        color: var(--color-accent);
        transition: all ease 0.2s;
    }
}

.nav__item.active a {
    color: var(--color-accent);
    font-weight: 700;
}

.header__login-btn:focus,
.nav__item a:focus,
.header__logo:focus {
  outline: 2px solid var(--color-accent);
}

.main {
    flex: 1;
    position: relative;
}

.main__swiper,
.swiper-wrapper, 
.swiper-slide {
    width: 100%;
    height: 100%
}

.swiper-slide{
    background-position: center -100px;
    background-position-y: -100px;
    background-size: cover;
}

.main__hero {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.hero {
    padding: 14px 26px;
    background-color: rgba(255, 255, 255, .85);
    max-width: 500px;
}

.hero__title {
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 18px;
    color: var(--color-text-second)
}

.hero__text {
    max-width: 460px;
    color: var(--color-text-second);
    font-size: 18px;
    line-height: 133%;
}

.swiper-pagination {
    display: flex;
    margin: 0 auto;
    gap: 11px;
    justify-content: center;
    margin-bottom: 95px;
}


.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-text-second);
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-accent);
}