:root {
    --color-primary: #353436;
    --color-secondary: #ffffff;
    --color-accent: #e2d1a6;
    --color-dark: #000000;
    --color-text: #ffffff;
    --color-text-second: #000000;
    --color-text-mute: #b5b4b4;
    --toggle-height: 30px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-text)
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', serif;
    margin-top: 0;
}

p {
    margin-top: 0;
}

button, input {
    border: none;
}

.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--color-primary);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 130px;
    z-index: 100;
    gap: 60px;
}

.header__burgerBtn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    width: 30px;
    height: 20px;
    z-index: 101;
}

.header__burgerBtn::after,
.header__burgerBtn::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    transition: all ease 0.2s;
}

.header__burgerBtn::after {
    top: 0;
    box-shadow: 0 9px 0 var(--color-secondary);
}

.header__burgerBtn::before {
    bottom: 0;
}

.header__burgerBtn._active::before {
    bottom: 9px;
    transform: rotate(45deg);
}
.header__burgerBtn._active::after {
    top: 9px;
    transform: rotate(-45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    max-width: 280px;
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    gap: 30px;
}

.header__login-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-text);
    text-transform: uppercase;
    cursor: pointer;
}

.header__login-btn svg {
    fill: var(--color-secondary)
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__nav {
    margin-top: auto;
}

.nav__item {
    position: relative;
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
}

.nav__item._active a {
    color: var(--color-accent);
    font-weight: 700;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -10px;
    list-style: none;
    padding: 30px 9px 9px;
    display: flex;
    flex-direction: column;
    z-index: 11;
    background-color: var(--color-primary);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.2s;
}

.dropdown__item {
    position: relative;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 16px;
}

.dropdown__item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(-50%);
    height: 1px; 
    width: 100%;
    background-color: var(--color-secondary);
}

.main {
    flex: 1;
    position: relative;
}

.main__swiper,
.swiper-wrapper, 
.swiper-slide {
    width: 100%;
    height: 100%
}

.swiper-slide{
    background-position: center 20px;
    background-position-y: 20px;
    background-size: cover;
}

.main__hero {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-15%);
}

.hero {
    padding: 14px 26px 18px;
    background-color: rgba(255, 255, 255, .85);
    max-width: 550px;
}

.hero__title {
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 18px;
    color: var(--color-text-second)
}

.hero__text {
    max-width: 460px;
    color: var(--color-text-second);
    font-size: 18px;
    line-height: 133%;
}

.swiper-pagination {
    display: flex;
    margin: 0 auto;
    gap: 4px;
    justify-content: center;
    margin-bottom: 30px;
}


.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-text-second);
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-accent);
}

.main__bottom-panel {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(calc(100% - var(--toggle-height)));
    transition: all ease 0.2s;
}

.main__bottom-panel._active {
    transform: translateY(0);
}

.bottom-panel__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: var(--toggle-height);
    width: 88px;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}

.bottom-panel__toggle:focus {
    outline: none;
}

.bottom-panel__toggle img {
    transition: all ease 0.4s;
}

.bottom-panel._active .bottom-panel__toggle img {
    transform: rotate(180deg);
}

.bottom-panel__content {
    padding: 0 40px;
}

.bottom-panel__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bottom-panel__item {
    display: grid;
    grid-template-rows: 1fr auto auto;
    padding: 14px 22px 10px 15px;

    background-color: var(--bottom-panel-bg, var(--color-secondary));
    color: var(--bottom-panel-text, var(--color-text-second))
}

.bottom-panel__item--accent {
    --bottom-panel-bg: var(--color-accent);
    --bottom-panel-text: var(--color-text-second);
}

.bottom-panel__item--dark {
    --bottom-panel-bg: var(--color-dark);
    --bottom-panel-text: var(--color-text);
}

.bottom-panel__title {
    grid-row: 1;
    font-weight: 700;
    font-size: 34px;
    line-height: 90%;
    margin-bottom: 5px;
}

.bottom-panel__text {
    grid-row: 2;
    line-height: 156%;
    margin-bottom: 10px;
}

.bottom-panel__link {
    position: relative;
    font-size: 18px;
    grid-row: 3;
    justify-self: end;
    color: inherit;
}

.bottom-panel__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: all ease 0.2s;
}

.footer {
    position: relative;
    z-index: 11;
    background-color: var(--color-primary);
    padding: 38px 40px 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 67px;
    max-width: 920px;
    margin: 0 auto;
}

.footer__column {
    max-width: 180px;
}

.footer__form.form {
    gap: 8px;
}

.footer__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 145%;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    flex: 3;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    font-weight: 400;
    font-size: 12px;
}

.footer__wrap {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer__social {
    width: 24px;
    height: 24px;
}

.footer__social svg {
    width: 100%;
    height: 100%;
    fill: var(--color-secondary);
    transition: all ease 0.2s;
}

.footer__langs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    text-transform: uppercase;
}

.footer__lang {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
}

.footer__lang:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -11px;
  top: 50%;
  transform: translateY(-50%);
  height: 12px; 
  width: 1px;
  background-color: #ccc;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.2s;
}

.modal {
    display: block;
    position: relative;
    min-width: 596px;
    background-color: var(--color-primary);
    padding: 6px 20px 27px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.2s;
}

.modal._active,
.overlay._active {
    opacity: 1;
    visibility: visible;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    cursor: pointer;
}

.modal__close-btn svg{
    fill: var(--color-secondary);
    transition: all ease 0.2s;
}

.modal__close-btn:hover svg{
    fill: var(--color-accent);
}

.modal__title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.modal__forms {
    display: flex;
    justify-content: space-evenly;
}

.modal__form.form {
    max-width: 185px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__form .form__input {
    font-size: 13px;
    padding: 8px 5px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__input {
    background-color: var(--color-secondary);
    font-size: 16px;
    padding: 6px 12px;
}

.form__input::placeholder {
    font-weight: 300;
    color: #8c8c8c;
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 10px;
    color: var(--color-text-mute);
}

.form__checkbox input {
    width: 10px;
    height: 10px;
}

.form__btn {
    font-size: 18px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-text);
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease 0.2s;
}

.form__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.form__link {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-text-mute)
}


@media(max-width: 1024px) {
    .header,
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__body {
        gap: 20px;
    }

    .footer__bottom {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer__wrap {
        flex: 1 1 100%;
        flex-direction: column;
        gap: 15px;
    }

    .footer__info {
        order: 1;
        flex: 1 1 100%;
        flex-wrap: wrap;
    }
}

@media(max-width: 768px) {
    .header {
        min-height: 70px;
        position: fixed;
    }

    .header__logo img {
        max-width: 200px;
    }

    .header__info {
        position: fixed;
        left: 100%;
        top: 0;
        background-color: var(--color-primary);
        min-width: 350px;
        padding: 20px;
        align-items: flex-start;
        transform: translateX(0);
        transition: all ease 0.2s;
    }

    .header__info._active {
        transform: translateX(-100%);
    }

    .nav__list {
        flex-direction: column;
    }

    .dropdown {
        position: static;
        opacity: 1;
        visibility: visible;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .header__burgerBtn {
        display: block;
    }

    .hero {
        padding: 10px;
    }

    .hero__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 16px;
    }

    .bottom-panel__content {
        padding: 0;
    }

    .bottom-panel__title {
        font-size: 24px;
    }

    .bottom-panel__text {
        font-size: 14px;
    }

    .bottom-panel__link {
        font-size: 16px;
    }

    .main__bottom-panel .bottom-panel__grid {
        grid-template-columns: 1fr;
    }

    .footer__body {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 0;
    }

    .footer__column {
        order: 1;
    }

    .footer__column--form {
        order: -1;
    }
}

@media(max-width: 640px) {
    .modal {
        min-width: 320px;
    }

    .modal__forms {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .modal__form.form {
        max-width: none;
        width: 100%;
    }

    .modal__title {
        font-size: 24px;
    }

    .modal .form__title {
        font-size: 18px;
    }

    .modal__close-btn {
        width: 25px;
        height: 25px;
        padding: 0;
    }

    .modal__close-btn svg {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 500px) {
    .footer__body {
        grid-template-columns: 1fr;
    }

    .footer__title {
        margin-bottom: 15px;
    }

    .footer__column {
        max-width: none;
    }

    .footer__column--form {
        width: 100%;
    }

    .footer__form .form__input {
        display: inline-block;
        width: 100%;
    }
}

@media(max-width: 425px) {
    .header {
        padding: 10px;
    }

    .header__burgerBtn {
        right: 10px;
    }

    .header__info {
        width: 100%;
    }
}

@media(hover:hover) {
    a:hover,
    .header__login-btn:hover,
    .footer__lang:hover {
        color: var(--color-accent);
        transition: all ease 0.2s;
    }

    .header__login-btn:hover svg {
        fill: var(--color-accent);
    }

    .nav__item:hover > .dropdown {
        opacity: 1;
        visibility: visible;
    }

    .bottom-panel__link:hover:after {
        width: 100%;
    }

    .footer__social:hover svg {
        fill: var(--color-accent);
    }

    .form__btn:hover {
        background-color: var(--color-accent);
    }
}